# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# production
/dist

# misc
.DS_Store
npm-debug.log*
# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
npm-debug.log*

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

#webstorm
.idea
#visual studio code
.vs
